.landing_title{
    color: blue;
    margin-top: 10%;   
}

.landing_btn{
    margin-top: 25vh;
    background-color: blue;
    color: white;
    border-radius: 100px;
    width: 8rem;
    padding: 10px;
}

.landing_list{
    margin-top: 15vh;
    margin-left: 5vw;

    li{
        color:whitesmoke;
        height: 5vh;
        font-size: 30px;
    }
}