.login_page{
    height: 100vh;
    overflow: hidden;

.login_box{
    background-color: whitesmoke;
    width: 45vw;
    height: 55vh;
    color: blue;

    .login_title{
        font-size: 40px;
        margin-top: 5%;
    }

    .login_input{
        width: 70%;
        margin-top: 6%;
    }

     .login_password{
        width: 70%;
        margin-top:6%;
    }


    .login_btn{
        margin-top: 8%;
        background-color: whitesmoke;
        color: blue;
        width: 15vw;
    }

    .login_btn:hover{
        background-color:blue ;
        color: white;
    }

    .login_link{
      margin-top: 4%;
      font-size: 16px;
    }

    .login_error{
        color: red;
        font-size: 12px;
        margin-left: 15%;
    }
  

 }
}



@media screen and (max-width:700px) {
    .login_page{
    .login_box{
        width: 90%;
    }
  }
}