.signup_page{
    height: 100vh;
    overflow: hidden;

.signup_box{
    background-color: whitesmoke;
    width: 50vw;
    height: 65vh;
    color: blue;

    .signup_title{
        font-size: 40px;
        margin-top: 5%;
    }

    .signup_input{
        width: 70%;
        margin-top: 4%;
    }

    .signup_btn{
        margin-top: 4%;
        background-color: whitesmoke;
        color: blue;
        width: 15vw;
    }

    .signup_btn:hover{
        background-color:blue ;
        color: white;
    }

    .signup_link{
      margin-top: 2%;
      font-size: 16px;
      white-space: nowrap;
    }

    .signup_error{
        color: red;
        font-size: 12px;
        margin-left: 15%;
    }
  

 }
}


@media screen and (max-width:800px){
    .signup_page{
        .signup_box{
            .signup_title{
                margin-bottom: 4%;
            }
            .signup_btn{
                margin-top: 35%;
            }
        }
    }
    
}

@media screen and (max-height:700px){
    .signup_page{
        .signup_box{
          width: 100vw;
          height: 100vh;
          .signup_input{
            margin-top: 6%;
        }
    
        }
    }
    
}