.sidebar_options{
    color:whitesmoke;
    font-size: 30px;
    cursor: pointer;
 }

 .sidebar_options:hover{
    color: blue;
    font-size: 32px;
}

.search{
    color: whitesmoke;
}

.sidebar_footer{
    background-color: blue;
    color: whitesmoke;
}