*{
    margin: 0 auto;
}

.landing-page-wrapper{
    
 h1{
    font-size: 5rem;
    color:whitesmoke;
    text-align: center;
 }

 p{
    color:white;
    font-size: 2rem;
 }


 h3{
    color: whitesmoke;
    font-size: 4rem;
    text-align: center;
 }

 .btn-mod{
    color:green;
    background-color: transparent;
    border: 1px solid green;
    height: 6rem;
    width: 6rem;
    border-radius: 100px;
    font-size: 4rem;
}

 @media screen and (max-width:500px) {
    h1{
      font-size: 3rem;
    }
    p{
        font-size: 1rem;
    }

    h3{
        font-size: 2rem;
    }
 }

}